<div class="footer-top">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Liens utiles</h4>
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="/index">Accueil</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="/about">À propos</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="/team">Notre équipe</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Nous contacter</h4>
                <p>
                    7 Avenue Edouard Belin <br> 31400 France<br> Toulouse <br><br>
                </p>

            </div>

            <div class="col-lg-3 col-md-6 footer-info">
                <h3>À propos d'Aérocloud</h3>
                <p>Aérocloud a pour but de faciliter la gestion des vols de plusieurs aéroclub à l'aide d'une interface intuitive pour tous les différents utilisateurs.</p>
                <div class="social-links mt-3">
                    <a href="https://github.com/Nathanwolfy/be_web" class="github"><i class="bx bxl-github"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>