<!DOCTYPE html>
<html lang="en">

<head>
    <title>À propos</title>
    {% include("layout/head.html") %}
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        {% include("layout/header.html") %}
    </header>
    <!-- End Header -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>A propos de nous</h2>
                    <ol>
                        <li><a href="/index">Accueil</a></li>
                        <li>A propos de nous</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End About Us Section -->

        <!-- ======= About Section ======= -->
        <section class="about" data-aos="fade-up">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="/static/img/pratique-voyager-chat-about2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3>Une équipe de passionnés visant les cieux</h3>
                        <p class="fst-italic">
                            Aérocloud, c'est avant tout trois jeunes webmestres ayant eu pour ambition de proposer au monde de l'aéronautique le meilleur site de gestion d'aéroclubs possible.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-circle"></i> Une équipe d'étudiants motivés.</li>
                            <li><i class="bi bi-check2-circle"></i> Un objectif fou.</li>
                            <li><i class="bi bi-check2-circle"></i> Un soutient moral et technique assuré par du personnel qualifié.</li>
                        </ul>
                        <p>
                            Lorsque différents aéroclubs exploitent le même terrain, les conflits causés par un manque d'organisation sont monnaie courante. Pourtant nous étions persuadés qu'une collaboration entre aviateurs était possible, si nous disposions des bons outils.</br>
                            Ainsi naquit Aérocloud. Un site pour les unir tous, un site pour les aider. Un site pour les organiser tous et par le planning les ordonner.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- Toute l'équipe d'Aérocloud est fière de vous offrir ce site.   Fruit du savoir et du travail de nos webmestres,    car les ciel est assez vaste pour être partagé-->

        <!-- ======= Facts Section ======= -->
        <section class="facts section-bg" data-aos="fade-up">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="104" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Aéroclubs clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="849" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Vols gérés par jour</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="9863" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Pilotes inscrits</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Webmestres</p>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Facts Section -->

        <!-- ======= Our Skills Section ======= -->
        <section class="skills" data-aos="fade-up">
            <div class="container">

                <div class="section-title">
                    <h2>Nos compétences</h2>
                    <p>Nos webmestres maîtrisent plusieurs langages informatiques et peuvent gérer en profondeur des bases de données complexes. En outre ce projet fut l'occasion de progresser et d'acquérir de nouvelles compétences.</p>
                </div>

                <div class="skills-content">

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Python <i class="val">100%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">HTML <i class="val">90%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">CSS <i class="val">85%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Photoshop <i class="val">70%</i></span>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Our Skills Section -->

        <!-- ======= Tetstimonials Section ======= -->
        <section class="testimonials" data-aos="fade-up">
            <div class="container">

                <div class="section-title">
                    <h2>Témoignages</h2>
                    <p>Ils nous ont fait confiances. Voici leurs témoignages.</p>
                </div>

                <div class="testimonials-carousel swiper">
                    <div class="swiper-wrapper">
                        <div class="testimonial-item swiper-slide">
                            <img src="/static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Paul Dupont</h3>
                            <h4>Pilote Professionnel &amp; Particulier</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Grâce à Aérocloud je peux enfin voler à ma guise. Plus aucun risque de perdre une après-midi à attendre au sol.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item swiper-slide">
                            <img src="/static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Céline Tran</h3>
                            <h4>Pilote</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Je recommande Aérocloud à toutes les personnes que je connais, c'est une révolution !
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item swiper-slide">
                            <img src="/static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Johanne Muller</h3>
                            <h4>Gestionnaire d'aéroclub</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Tout simplement fabuleux ! La simplicité, l'efficacité et le gain de temps offerts par Aérocloud sont plus que bénéfiques pour notre aéroclub.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item swiper-slide">
                            <img src="/static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Mathieu Broux</h3>
                            <h4>Passionné</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Ils pourraient bien concurrencer certaines multinationales d'ici quelques années !
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item swiper-slide">
                            <img src="/static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>Jean-Baptiste Labruyère</h3>
                            <h4>Président de club</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Je tiens sincèrement à remercier les webmestres d'Aérocloud, tous mes adhérents sont plus que ravis par l'implémentation rapide et sans faille de ce nouveau dispositif,
                                révolutionnaire en son genre !
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- End Ttstimonials Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        {% include("layout/footer.html") %}
    </footer>
    <!-- End Footer -->

    <!-- Include scripts and back to top arrow-->
    {% include("layout/scripts.html") %}

</body>

</html>