<!DOCTYPE html>
<html lang="en">

<head>
    <title>Calendrier</title>
    {% include("layout/head.html") %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.css" integrity="sha256-gcC8p9RfMq6rqz4TkMcZYBHTmnJ3VfWLxKJ0N4RgbLs=" crossorigin="anonymous">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        {% include("layout/header.html") %}
    </header>
    <!-- End Header -->
    <main>
        <div id="calendrier">
        </div>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        {% include("layout/footer.html") %}
    </footer>
    <!-- End Footer -->

    <!-- Include scripts and back to top arrow-->
    {% include("layout/scripts.html") %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.min.js" integrity="sha256-RYuehXpnr248jInax6L9UXEegv6DvIRoN+lyxayiIFg=" crossorigin="anonymous"></script>
    <script>
        window.onload = () => {
            let elementCalendrier = document.getElementById("calendrier")
            let evenements = JSON.parse('{{info|safe}}')
                // evenements.forEach(event => console.log(event))
            let calendar = []
            for (let k = 0; k < evenements.length; k++) {
                new_event = {
                    title: evenements[k].text,
                    start: evenements[k].start_date,
                    end: evenements[k].end_date
                }
                calendar.push(new_event)
            }

            let calendrier = new FullCalendar.Calendar(elementCalendrier, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth timeGridWeek'
                },
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine'
                },
                events: calendar
            })

            calendrier.render()
        }
    </script>

</body>

</html>