<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    {% include("layout/head.html") %}

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        {% include("layout/header.html") %} {% if info and info == "addUserOK" %}
        <div class="alert alert-success text-center"> Nouveau membre ajouté </div>
        {% endif %} {% if info and info == "addUserProblem" %}
        <div class="alert alert-danger text-center"> Problème d'ajout du nouveau membre </div>
        {% endif %}
    </header>
    <!-- End Header -->

    <main id="main">

        <!-- ======= Admin Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Administrateur</h2>
                    <ol>
                        <li><a href="index">Accueil</a></li>
                        <li>Administrateur</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End Admin Section -->

        <!--Formulaire section : nom, prenom, mail, login, mdp, statut(1), avatar-->
        <form method="post" action="addMembre">

            <div class="section-title">
                <h2>Création de nouveaux comptes</h2>
                <p>Entrer ci-dessous les données du nouveau compte.</p>
            </div>

            <div class="text-center">
                <div class="form-group mt-3">
                    <label for="NOM">Nom</label></br>
                    <input type="text" name="NOM" id="NOM" placeholder="Entrer le nom de famille" required/>
                </div>
                <div class="form-group mt-3">
                    <label for="prenom">Prénom</label></br>
                    <input type="text" name="prenom" id="prenom" placeholder="Entrer le prénom" required/>
                </div>
                <div class="form-group mt-3">
                    <label for="login">Identifiant</label></br>
                    <input type="text" name="login" id="login" placeholder="Entrer l'identifiant" required/>
                </div>
                <div class="form-group mt-3">
                    <label for="motPasse">Mot de passe</label></br>
                    <input type="password" name="motPasse" id="motPasse" placeholder="Entrer le mot de passe" required/>
                </div>
                <div class="form-group mt-3">
                    <label for="sonMail">Adresse électronique</label></br>
                    <input type="email" name="sonMail" id="sonMail" placeholder="Entrer l'email" required/>
                </div>
                <div class="form-group mt-3">
                    <label for="radio">Statut du nouveau membre</label></br>

                    <input type="radio" name="rad[]" id="R1" value="1" />
                    <label for="R1">Membre &emsp;</label>

                    <input type="radio" name="rad[]" id="R2" value="2" />
                    <label for="R2">Gestionnaire &emsp;</label>

                    <input type="radio" name="rad[]" id="R3" value="3" />
                    <label for="R3">Administrateur</label>
                </div>
                <div class="form-group mt-3">
                    <label for="radio">Avatar du nouveau membre</label></br>
                    {% for i in range(1,13) %}
                    <img src="/static/img/avatar/{{i}}.png" />
                    <input type="radio" name="avatar" id="{{i}}" value="{{i}}" />
                    <label for="{{i}}">{{i}} &emsp;</label> {%if i==6%} </br>
                    </br>{%endif%} {% endfor %}
                </div>
                <div>
                    </br>
                    <button type="submit">Enregistrer les données</button></br>
                </div>
            </div>


        </form>

    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        {% include("layout/footer.html") %}
    </footer>
    <!-- End Footer -->

</body>
</html>