<!DOCTYPE html>
<html lang="en">

<head>
    <title>Connexion</title>
    {% include("layout/head.html") %}
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        {% include("layout/header.html") %} {% if info and info=="authEchec" %}
        <div class="alert alert-danger text-center">Authentification refusée.</div>
        {% endif %} {% if info and info=="logoutOK" %}
        <div class="alert alert-primary text-center">
            Vous êtes déconnecté. Merci de votre visite.
        </div>
        {% endif %}
    </header>
    <!-- End Header -->



    <main id="main">

        <!-- ======= Connexion Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Connexion</h2>
                    <ol>
                        <li><a href="/index">Accueil</a></li>
                        <li>Connexion</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End Connexion Section -->

        <!-- ======= Connexion Section ======= -->
        <section class="connexion" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="text-center">
                <form method="POST" class="connexion-form">
                    <div class="form-group mt-3">
                        <input class="form-control" type="text" name="login" id="login" placeholder="Identifiant" required/>
                    </div>
                    <div class="form-group mt-3">
                        <input class="form-control" type="password" name="mdp" id="mdp" placeholder="Mot de passe" required/>
                    </div>
                    <div class="form-group mt-3">
                        <button formaction="/login" type="submit">Connexion</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- End Connexion Section -->


    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        {% include("layout/footer.html") %}
    </footer>
    <!-- End Footer -->

    <!-- Include scripts and back to top arrow-->
    {% include("layout/scripts.html") %}

</body>

</html>