<!DOCTYPE html>
<html lang="en">

<head>
    <title>Importation planning</title>
    {% include("layout/head.html") %}
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        {% include("layout/header.html") %} {% if info and info=="importDataOK" %}
        <div class="alert alert-success">
            <span class="badge badge-pill bg-success">Success</span> Importation des données réussie
        </div>
        {% elif info and info=="importDataEchec" %}
        <div class="alert alert-danger text-center">
            <span class="badge badge-pill bg-danger">Fail</span> Importation des données échouée
        </div>
        {% endif %}
    </header>
    <!-- End Header -->

    <main id="main">

        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Importation planning</h2>
                    <ol>
                        <li><a href="/index">Accueil</a></li>
                        <li>Importation planning</li>
                    </ol>
                </div>
            </div>
        </section>


        <section class="connexion" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="text-center">
                <form action="/fichiers" method="POST" enctype="multipart/form-data" class="connexion-form">
                    <div class="form-group mt-3">
                        <label for="data"></label>
                        <input type="file" id="data_excel" name="data_excel">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit"><i class="fas fa-download">Envoyer</i> </button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        {% include("layout/footer.html") %}
    </footer>
    <!-- End Footer -->

    <!-- Include scripts and back to top arrow-->
    {% include("layout/scripts.html") %}
</body>

</html>